<h1>Graph of Friends</h1>
<span>Be sure pop-ups are allowed for this site</span>
<div id="container">
</div>

<div id="fb-root">
</div>
<script type="text/javascript">    
jsPlumb.bind("ready", jsPlumbInit);
</script>