<!DOCTYPE html>
<html>
<head>
  <title>GraphDemo</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <script src='http://connect.facebook.net/en_US/all.js'></script>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
